# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.Master
*.compiled
*.mll
*.swp
*.bak
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.bak
*.sw?
*.[Cc]ache
*.bak
*.user
*.suo
*.userosscache
*.dll
*.exe
*.pdb
*.nupkg
*.log
*.bak

# Visual Studio cache files #
#############################
**/[Rr]elease/
**/[Dd]ebug/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.bak
*.sw?
*.[Cc]ache
*.bak
*.unityproj
*.dll
*.exe
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.ide/
*.suo
*.user
*.userosscache
*.cache
*.bak
*.sw?
*.[Cc]ache
*.bak
*.sw?
*.[Cc]ache

# Visual Studio profiler #
##########################
*.psess
*.vsp
*.vspx

# ReSharper #
#############
_ReSharper*/
*.[Rr]e[Ss]harper

# Others #
##########
ClientBin/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.bak
*.cache
*.sln.docstates
Thumbs.db
[Tt]est[Rr]esult*
*.sass-cache
*.bak
*.sw?
*.[Cc]ache
*.bak
*.sw?
*.[Cc]ache

# Project files #
#################
*.publishproj
*.ccproj
*.vcxproj
*.pidb
*.suo
*.sln
*.user
*.tmp_proj
*.bak
*.sw?
*.[Cc]ache
*.bak
*.sw?
*.[Cc]ache

# Web publish #
###############
*.Publish.xml
*.pubxml
*.pubxml.user

# NuGet #
#########
## Ignore NuGet package directories
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/tools/

# Include package target files (since NuGet packages might contain .targets files)
!**/[Pp]ackages/**/*.targets

# Include package props files (since NuGet packages might contain .props files)
!**/[Pp]ackages/**/*.props

# Tools #
#########
**/[Tt]ools/*
!**/[Tt]ools/*.cmd
!**/[Tt]ools/*.ps1

#Ignore dbmdl File
*.dbmdl

#Ignore ef File
CodeTemplates/

#Ignore nuget File
nuget.exe

#Ignore RuntimeConfig.json
*.runtimeconfig.json
